* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 20px;
  background: #000000;
}

.leftcolumn-class {
  width: 100%;
  padding: 0px 150px;
}

.fakeimg-class {
  width: 100%;
  padding: 20px;
}
img {
  margin-left: 50px;
  height: 200px;
}
a {
  text-decoration: none;
}
.card-class {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}
.leftcontent-class {
  width: 70%;
}
.container-class {
  display: flex;
}
@media screen and (max-width: 800px) {
  .leftcolumn-class {
    width: 100%;
    padding: 0px;
  }
  img {
    margin-left: -13px;
    width: 100%;
    height: 100%;
  }
  .leftcontent-class {
    width: 100%;
  }
  .container-class {
    display: flex;
  }
}
.category-class {
  font-size: 14px;
  color: #0059bf;
}
.heading-class {
  font-size: 24px;
  color: #000000;
}
.description-class {
  font-size: 16px;
  color: #606669;
  text-align: justify;
}
.error-class {
  color: #ff0000;
}
