* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #000;
}



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 100%;
  padding: 0px 150px;
}



/* Fake image */
.fakeimg {
  /*background-color: #aaa;*/
  width: 100%;
  padding: 20px;
  
}
img{
margin-left: 50px;
height: 200px;
}
a{
    text-decoration: none;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
.leftcontent{
width:70%;
float:left;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  img{
margin-left: 0px;
height: 200px;
}
.leftcontent {
    width: 100%;
    float: left;
}
  
}
.category{
font-size:14px;
    color: #0059bf;
}
.heading-class{
font-size:24px;
    color: #000000 ;
}
.description{
font-size:16px;
    color: #606669;
	text-align: justify;
}
.borderline{
border-bottom: 2px solid gainsboro;
}
.rightcontent{
 
	}
